name: delete_rds.yml
on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform (Create/Delete)'
        required: true
        default: 'Delete'
      
      db_identifier:
        description: 'RDS DB Identifier'
        required: true

      region:
        description: 'AWS region'
        required: true
      


permissions:

  id-token: write

  contents: read
 
jobs:
    terraform_destroy:

      runs-on: ubuntu-latest
      steps:

      - name: Checkout code

        uses: actions/checkout@v2

      - name: Assume AWS Role using OIDC

        uses: aws-actions/configure-aws-credentials@v1.7.0

        with:

          role-to-assume: arn:aws:iam::730335384723:role/backstage_interns_project

          role-session-name: GitHub_to_AWS_via_FederatedOIDC

          aws-region: ${{ github.event.inputs.region }}

      - name: Setup Terraform

        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        working-directory: ./delete_rds
        run: terraform init

      - name: Terraform Destroy
        working-directory: ./delete_rds
        run: terraform destroy -var action=${{ github.event.inputs.action }} -var db_identifier=${{ github.event.inputs.db_identifier }} -var region=${{ github.event.inputs.region }} -auto-approve
